*{
    margin:0 ;
    padding: 0;
}

body{
    background-color: rgb(70, 126, 247);
    color: rgb(255, 255, 255);

    
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color:rgb(209, 14, 14);
    padding-left: 8vh;
    height: 12vh;
}
 #foto{
  margin-top:12vh ;
  margin-left: 77vh;
}

h1{
    display: flex;
    justify-content: center;
    margin-left: 3vh;
}

.escolha{
    
    width: 200vh;
    height: 40vh;
    margin-top: 10vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 52vh;
    height: 32vh;
    border-radius: 6vh;
    border: none;
}

button{
    width: 52vh;
    height: 32vh;
    border-radius: 6vh;
    border: none;
}

.texto{
    margin-top: 5vh;
    margin-bottom: 2vh;
}

footer{
    background-color: rgb(209, 14, 14);
    margin-top: 12vh;
    display: flex;
    justify-content: center;
}




